main {
  display: flex;
  gap: 128px;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 340px;
}

.cell {
  border: 1px solid;
  opacity: 0.25;
  height: 32px;
  width: 32px;
}
