main {
  display: flex;
  gap: 128px;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 340px;
}

.cell {
  border: 1px solid;
  opacity: 0.15;
  height: 34px;
  width: 34px;
  padding: 0;
}

.index-container {
  display: flex;
}

#row-index-container {
  display: grid;
  grid-template-columns: repeat(10, 34px);
  width: 340px;
  text-align: center;
}

#column-index-container {
  display: grid;
  grid-template-rows: repeat(10, 34px);
  height: 340px;
  margin-top: 34px;
}

#column-index-container > span,
#row-index-container > span {
  align-content: center;
  text-align: center;
  width: 34px;
  height: 34px;
}

.missed::before {
  content: "•";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(235, 235, 248);
}

.attacked::before {
  content: "X";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: red;
  font-size: 16px;
}
